body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url(Img/flag\ png.png);
}
.background {
  background-color: black;
  background-image: url(Img/flag\ png.png);
}
#input {
  border-bottom: solid 2px black;
}